@model DBNewQuery.Common.Models.Especialidad
    <form>
        <div class="form-row">
            <div class="col">
                <input asp-for="EspecialidadNombre" class="form-control" placeholder="Especialidad Nombre" readonly />
            </div>
 
        </div>
    </form>