@model DBNewQuery.Common.Models.Especialidad
    <h2>Register</h2>

    <h4>Edit</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="MyEditPartial" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EspecialidadId" />
                <div class="form-group">
                    <label asp-for="EspecialidadNombre" class="control-label"></label>
                    <input asp-for="EspecialidadNombre" class="form-control" placeholder="Especialidad Nombre" required />
                    <span asp-validation-for="EspecialidadNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-outline-primary" />
                </div>
            </form>
        </div>

    </div>