@{
    ViewBag.Title = "Index";
}

<h2>Teacher Record</h2>
@* Table for showing the list of teachers from the database *@
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="OpenAddPopup();">Add New Teacher</button>
<br />
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Number
            </th>

            <th>
                Address
            </th>
            <th>
                Department
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody class="tbody"></tbody>
</table>
<div id="divcontent">

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            BindteacherData();
        });
        function BindteacherData() {
            $.ajax({
                url: "/Teacher/GetAllTeachers",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result) {
                        //itetrate thorugh each record and bind it to td
                        var html = '';
                        $.each(result, function (key, item) {
                            html += '<tr>';
                            html += '<td>' + item.Id + '</td>';
                            html += '<td>' + item.Teacher_Name + '</td>';
                            html += '<td>' + item.Teacher_Email + '</td>';
                            html += '<td>' + item.Teacher_ContactNo + '</td>';
                            html += '<td>' + item.Teacher_Address + '</td>';
                            html += '<td>' + item.Teacher_Department + '</td>';
                            html += '<td><a href="#" onclick="return OpenUpdatePopup(' + item.Id + ')">Edit</a> | <a href="#" onclick="DeleleTeacher(' + item.Id + ')">Delete</a></td>';
                            html += '</tr>';
                        });
                        $('.tbody').html(html);
                    }

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function OpenAddPopup() {
            $.ajax({
                url: '/Teacher/LoadaddTeacherPopup',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#divcontent').empty();
                    $('#divcontent').html(result);
                    $('#AddUpdateModelPopup').modal('show');
                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        }

        function OpenUpdatePopup(Id) {
            $.ajax({
                url: '/Teacher/LoadEditTeacherPopup?TeacherId=' + Id,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#divcontent').empty();
                    $('#divcontent').html(result);
                    $('#AddUpdateModelPopup').modal('show');
                    //$('#btndivuserguidemodel').trigger('click');
                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        }


        //Add Data Function
        function AddTeacher() {
            var res = ValidateForm();
            if (res == false) {
                return false;
            }
            var TeacherObj = {
                Id: $('#Id').val(),
                Teacher_Name: $('#Teacher_Name').val(),
                Teacher_Email: $('#Teacher_Email').val(),
                Teacher_ContactNo: $('#Teacher_ContactNo').val(),
                Teacher_Department: $('#Teacher_Department').val(),
                Teacher_Address: $('#Teacher_Address').val(),
            };
            $.ajax({
                url: "/Teacher/AddTeacher",
                data: JSON.stringify(TeacherObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //populate table with new record
                    BindteacherData();
                    $('#AddUpdateModelPopup').modal('hide');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        //function for updating Patient record
        function UpdateTeacher() {
            var res = ValidateForm();
            if (res == false) {
                return false;
            }
            var TeacherObj = {
                Id: $('#Id').val(),
                Teacher_Name: $('#Teacher_Name').val(),
                Teacher_Email: $('#Teacher_Email').val(),
                Teacher_ContactNo: $('#Teacher_ContactNo').val(),
                Teacher_Department: $('#Teacher_Department').val(),
                Teacher_Address: $('#Teacher_Address').val(),
            };
            if (!TeacherObj.Id || TeacherObj.Id <= 0) {
                alert("Invalid Id!");
                return false;
            }
            $.ajax({
                url: "/Teacher/UpdateTeacher",
                data: JSON.stringify(TeacherObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    BindteacherData();
                    $('#AddUpdateModelPopup').modal('hide');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }


        //function for deleting Teacher's record
        function DeleleTeacher(ID) {
            var ans = confirm("Are you sure you want to delete?");
            if (ans) {
                $.ajax({
                    url: "/Teacher/DeleteTeacher?TeacherId=" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        BindteacherData();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }

        function ValidateForm() {
            var isValid = true;
            if ($('#Teacher_Name').val().trim() == "") {
                $('#Teacher_Name').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Teacher_Name').css('border-color', 'lightgrey');
            }
            if ($('#Teacher_Email').val().trim() == "") {
                $('#Teacher_Email').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Teacher_Email').css('border-color', 'lightgrey');
            }
            if ($('#Teacher_ContactNo').val().trim() == "") {
                $('#Teacher_ContactNo').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Teacher_ContactNo').css('border-color', 'lightgrey');
            }
            if ($('#Teacher_Department').val().trim() == "") {
                $('#Teacher_Department').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Teacher_Department').css('border-color', 'lightgrey');
            }

            if ($('#Teacher_Address').val().trim() == "") {
                $('#Teacher_Address').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Teacher_Address').css('border-color', 'lightgrey');
            }
            return isValid;
        }
    </script>
}
